<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tedu.cgb.team.sys.dao.SysLogDAO">
	<select id="findRecordsPageByUsername" resultType="com.tedu.cgb.team.sys.entity.SysLog">
		SELECT *
		FROM sys_logs
		<include refid="whereLikeUsername"/>
		ORDER BY createdTime DESC
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<select id="getRowCountByUsername" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM sys_logs
		<include refid="whereLikeUsername"/>
	</select>
	
	<delete id="deleteRecordsByIds">
		DELETE FROM sys_logs
		<where>
			<foreach collection="ids" item="id">
				OR id = #{id}
			</foreach>
		</where>
	</delete>
	
	<insert id="insertRecord">
		INSERT INTO sys_logs(username, operation, method, params, time, ip, createdTime)
		VALUES(#{username}, #{operation}, #{method}, #{params}, #{time}, #{ip}, NOW())
	</insert>
	
	
	<!-- 复用sql语句 ========================================================================= -->
	
	<sql id="whereLikeUsername">
		<where>
			<if test="username != null and username != ''">
				username LIKE CONCAT("%", #{username}, "%")
			</if>
		</where>
	</sql>
</mapper>