<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tedu.cgb.team.sys.dao.SysMenuDAO">
	<select id="findAllRecords" resultType="java.util.HashMap">
		SELECT c.*,
			(SELECT p.name FROM sys_menus AS p WHERE p.id = c.parentId) AS parentName
		FROM sys_menus AS c
	</select>
	
	<select id="getRowCount" resultType="java.lang.Integer">
		SELECT COUNT(id) FROM sys_menus
	</select>
	
	<delete id="deleteRecordById">
		DELETE FROM sys_menus
		WHERE id = #{id}
	</delete>
	
	<update id="updateRecordById">
		UPDATE sys_menus
		SET
			name = #{name},
			url = #{url},
			type = #{type},
			sort = #{sort},
			note = #{note},
			parentId = #{parentId},
			permission = #{permission},
			modifiedTime = NOW(),
			modifiedUser = #{modifiedUser}
		WHERE id = #{id}
	</update>
	
	<insert id="insertRecord">
		INSERT INTO sys_menus(
			name, url, type, sort, note, parentId, permission, 
			createdTime, createdUser, modifiedTime, modifiedUser)
		VALUES(
			#{name}, #{url}, #{type}, #{sort}, #{note}, #{parentId}, #{permission},
			NOW(), #{createdUser}, NOW(), #{modifiedUser})
	</insert>
	
	<select id="getChildCountByParentId" resultType="java.lang.Integer">
		SELECT COUNT(id) FROM sys_menus
		WHERE parentId = #{id}
	</select>
	
	<select id="getZtreeNodes" resultType="com.tedu.cgb.team.common.vo.Node">
		SELECT id, name, parentId FROM sys_menus
	</select>
	
	<select id="findPermissionsByIds" resultType="java.lang.String">
		SELECT permission FROM sys_menus
		<where>
			<foreach collection="ids" item="id">
				OR id = #{id}
			</foreach>
		</where>
	</select>
</mapper>