<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tedu.cgb.team.sys.dao.SysRoleMenuDAO">
	<delete id="deleteRecordsByMenuId">
		DELETE FROM sys_role_menus
		WHERE menu_id = #{menuId}
	</delete>
	
	<delete id="deleteRecordsByRoleId">
		DELETE FROM sys_role_menus
		WHERE role_id = #{roleId}
	</delete>
	
	<insert id="insertRecord">
		INSERT INTO sys_role_menus(role_id, menu_id)
		VALUES
		<foreach collection = 'menuIds' item = 'menuId' separator=','>
			(#{roleId}, #{menuId})
		</foreach>
	</insert>
	
	<select id="getMenuIdsByRoleId" resultType="java.lang.Integer">
		SELECT menu_id FROM sys_role_menus
		WHERE role_id = #{roleId}
	</select>
	
	<select id="findMenuIdsByRoleId" resultType="java.lang.Integer">
		SELECT menu_id FROM sys_role_menus
		WHERE role_id = #{id}
	</select>
	
	<select id="findMenuIdsByRoleIds" resultType="java.lang.Integer">
		SELECT menu_id FROM sys_role_menus
		<where>
			<foreach collection="roleIds" item="roleId">
				OR role_id = #{roleId}
			</foreach>
		</where>
	</select>
</mapper>