<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>电商商城全特效实现</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<style>
		.min2{
			height: 1000px;width:1216px;/* border:1px solid red; */min-width: 1210px;margin:0 auto;position: relative;
		}
		#goods-list{
			width: 100%;height: 100%;list-style: none;margin: 0;
		}
		#goods-list li{
			width:302px;height:400px; border:1px solid orange; float: left;
		}
	</style>
</head>

<body>
	<div id="jd-denglu">
		<div class="dingbu">
			<div class="yzbj">
				运至：
				<span class="sss">北京&nbsp;</span>
				<div class="eee"><img class="yinc" src="img/16.png">

				</div>
				<div id="asd">
					<ul class="chengshi">
						<li style=""><a class="yangshi" href="###">北京</a></li>
						<li class="ddd"><a href="###">上海</a></li>
						<li class="ddd"><a href="###">天津</a></li>
						<li class="ddd"><a href="###">重庆</a></li>
						<li class="ddd"><a href="###">河北</a></li>
						<li class="ddd"><a href="###">山西</a></li>
						<li class="ddd"><a href="###">河南</a></li>
						<li class="ddd"><a href="###">辽宁</a></li>
						<li class="ddd"><a href="###">吉林</a></li>
						<li class="ddd"><a href="###">黑龙江</a></li>
						<li class="ddd"><a href="###">内蒙古</a></li>
						<li class="ddd"><a href="###">江苏</a></li>
						<li class="ddd"><a href="###">山东</a></li>
						<li class="ddd"><a href="###">安徽</a></li>
						<li class="ddd"><a href="###">浙江</a></li>
						<li class="ddd"><a href="###">福建</a></li>
						<li class="ddd"><a href="###">湖北</a></li>
						<li class="ddd"><a href="###">湖南</a></li>
						<li class="ddd"><a href="###">广东</a></li>
						<li class="ddd"><a href="###">广西</a></li>
						<li class="ddd"><a href="###">江西</a></li>
						<li class="ddd"><a href="###">四川</a></li>
						<li class="ddd"><a href="###">海南</a></li>
						<li class="ddd"><a href="###">贵州</a></li>
						<li class="ddd"><a href="###">云南</a></li>
						<li class="ddd"><a href="###">西藏</a></li>
						<li class="ddd"><a href="###">陕西</a></li>
						<li class="ddd"><a href="###">甘肃</a></li>
						<li class="ddd"><a href="###">青海</a></li>
						<li class="ddd"><a href="###">宁夏</a></li>
						<li class="ddd"><a href="###">新疆</a></li>
						<li class="ddd"><a href="###">台湾</a></li>
						<li class="ddd"><a href="###">香港</a></li>
						<li class="ddd"><a href="###">澳门</a></li>
						<li class="ddd"><a href="###">钓鱼岛</a></li>
						<li class="ddd"><a href="###">钓鱼岛</a></li>
						<li class="ddd"><a href="###">海外</a></li>
					</ul><em></em>
				</div>
			</div>
			<ul class="yfd">
				<li><a href="">你好,请登录</a></li>
				<li><a href="">免费注册</a></li>
				<li style="color:#ccc;">|</li>
				<li><a href="">我的订单</a></li>
				<li style="color:#ccc;">|</li>
				<li id="kkk"><a href="">我的电商&nbsp;<img style="width:16px;height:14px;" id="" src="img/1.png"></a>
					<div id="wdjd">
						<em></em>
						<div class="diyi">
							<div class="wd">
								<img src="img/16.jpg"></div>
							<div class="jd">
								<span><a href="###">你好,请登录</a></span>
								<span><a href="###">优惠券 | 消息</a></span>
							</div>
						</div>
						<div class="dier">
							<div class="wen">
								<span><a href="###">待处理订单</a></span>
								<span><a href="###">咨询回复</a></span>
								<span><a href="###">降价商品</a></span>
								<span><a href="###">返修退换货</a></span>
							</div>
							<div class="zi">
								<span><a href="###">我的关注</a></span>
								<span><a href="###">我的京豆</a></span>
								<span><a href="###">我的理财</a></span>
								<span><a href="###">我的白条</a></span>
							</div>
						</div>
				</li>
				<li style="color:#ccc;">|</li>
				<li><a href="">会员俱乐部</a></li>
				<li style="color:#ccc;">|</li>
				<li><a href="">企业频道</a></li>
				<li style="color:#ccc;">|</li>

				<li id="iii"><img style="width:10px;height:14px;" src="img/3.png"><a href="">&nbsp;手机电商</a><img
						style="width:16px;height:14px;float: " src="img/4.png">
					<div id="sjjd">
						<img src="img/30.png">
						<em></em>
					</div>


				</li>
				<li style="color:#ccc;">|</li>
				<li id="ppp"><a href="">关注电商&nbsp;</a><img style="width:16px;height:14px;" src="img/5.png">
					<div id="gzjd">
						<img src="img/32.jpg">
						<em></em>
					</div>

				</li>
				<li style="color:#ccc;">|</li>
				<li id="ddd"><a href="">客户服务&nbsp;</a><img style="width:16px;height:14px;" src="img/6.png">
					<div id="khfw">
						<em></em>
						<div class="magen">
							<span>帮助中心</span>
							<span>售后服务</span>
							<spam>在线客服</spam>
							<span>意见建议</span>
							<span>客服邮箱</span>
						</div>
					</div>

				</li>
				<li style="color:#ccc;">|</li>
				<li id="www"><a href="">网站导航&nbsp;</a><img style="width:16px;height:14px;" src="img/7.png">
					<div id="wzdh">
						<em></em>
						<dl class="tszt">
							<dt
								style="font-size:14px;font-weight:700;margin-bottom:6px;color:#666;margin-left: 17px;margin-top: 10px">
								特色主题</dt>
							<dd id="mg">
								<div class="tim"><a href="">品牌街</a></div>
								<div class="tim"><a href="">天天低价</a></div>
								<div class="tim"><a href="">好东西</a></div>
								<div class="tim"><a href="">电商预售</a></div>
								<div class="tim"><a href="">金融精选</a></div>
								<div class="tim"><a href="">电商首发</a></div>
								<div class="tim"><a href="">今日团购</a></div>
								<div class="tim"><a href="">优惠券</a></div>
								<div class="tim"><a href="">闪购</a></div>
								<div class="tim"><a href="">电商会员</a></div>
								<div class="tim"><a href="">电商京选</a></div>
								<div class="tim"><a href="">定期选</a></div>
								<div class="tim"><a href="">装机大师</a></div>
								<div class="tim"><a href="">搭配购</a></div>
								<div class="tim"><a href="">电商使用</a></div>
								<div class="tim"><a href="">礼品购</a></div>
								<div class="tim"><a href="">智能馆</a></div>
								<div class="tim"><a href="">玩逼格</a></div>
							</dd>
						</dl>
						<dl id="hypd">
							<dt
								style="font-size:14px;font-weight:700;margin-bottom:6px;color:#666;margin-left: 17px;margin-top: -4px">
								行业频道</dt>
							<dd id="hg">
								<div class="tim"><a href="">服装城</a></div>
								<div class="tim"><a href="">家用电器</a></div>
								<div class="tim"><a href="">电脑办公</a></div>
								<div class="tim"><a href="">手机</a></div>
								<div class="tim"><a href="">美妆馆</a></div>
								<div class="tim"><a href="">食品</a></div>
								<div class="tim"><a href="">数码</a></div>
								<div class="tim"><a href="">母婴</a></div>
								<div class="tim"><a href="">家装城</a></div>
								<div class="tim"><a href="">运动户外</a></div>
								<div class="tim"><a href="">整车</a></div>
								<div class="tim"><a href="">图书</a></div>
							</dd>
						</dl>
						<dl id="shfw">
							<dt
								style="font-size:14px;font-weight:700;margin-bottom:6px;color:#666;margin-left: 17px;margin-top: -4px">
								生活服务</dt>
							<dd id="hg">
								<div class="tim"><a href="">电商众筹</a></div>
								<div class="tim"><a href="">白条</a></div>
								<div class="tim"><a href="">电商钱包</a></div>
								<div class="tim"><a href="">电商小金库</div>
								<div class="tim"><a href="">理财</a></div>
								<div class="tim"><a href="">话费</a></div>
								<div class="tim"><a href="">旅行</a></div>
								<div class="tim"><a href="">彩票</a></div>
								<div class="tim"><a href="">游戏</a></div>
								<div class="tim"><a href="">机票</a></div>
								<div class="tim"><a href="">电影票</a></div>
								<div class="tim"><a href="">水电煤</a></div>
								<div class="tim"><a href="">电商到家</a></div>
							</dd>
						</dl>
						<dl id="gdjx">
							<dt
								style="font-size:14px;font-weight:700;margin-bottom:6px;color:#666;margin-left: 17px;margin-top: -4px">
								更多精选</dt>
							<dd id="kg">
								<div class="tim"><a href="">电商社区</a></div>
								<div class="tim"><a href="">电商通信</a></div>
								<div class="tim"><a href="">在线读书</a></div>
								<div class="tim"><a href="">电商E书</div>
								<div class="tim"><a href="">智能社区</a></div>
								<div class="tim"><a href="">游戏社区</a></div>
								<div class="tim"><a href="">京友邦</a></div>
								<div class="tim"><a href="">卖家入驻</a></div>
								<div class="tim"><a href="">企业采购</a></div>
								<div class="tim"><a href="">服务市场</a></div>
								<div class="tim"><a href="">乡村招募</a></div>
								<div class="tim"><a href="">校园加盟</a></div>
								<div class="tim"><a href="">办公生活馆</a></div>
								<div class="tim"><a href="">知识产权维权</a></div>
								<div class="tim"><a href="">English site</a></div>
							</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="jd-erbuf">
		<div class="jd-erbuf2">
			<div id="logo-1">
				<img src="image/logo.jpg">
			</div>
			<div class="form">
				<input class="kz" type="text" value="">
				<input type="button" class="ss" value="搜索">
				<div class="biaoqian">
					<span><a style="color:#c81623">感恩母爱</a></span>
					<span><a href="">下单有礼</a></span>
					<span><a href="">小家电</a></span>
					<span><a href="">丝芙兰</a></span>
					<span><a href="">感恩母亲</a></span>
					<span><a href="">手机99起</a></span>
					<span><a href="">女性必读</a></span>
					<span><a href="">199减50</a></span>
					<span><a href="">机票5.7</a></span>
				</div>
			</div>
			<div class="gouwuche">
				<img class="cileft" src="img/10.png">
				<span><a href="">我的购物车</a></span>
				<a href=""><img class="jt" src="img/11.png"></a><em></em>
				<div class="erlei">
					<img src="img/12.png">
					<span
						style="color:#ccc;width:206px;height:14px;font-size: 13px;position: absolute;left: 116px;top: 31px;">购物车还没有东西哦,赶紧选购吧！</span>
				</div>
			</div>
		</div>
		<div class="sanlei">
			<div class="zxkd">
				<div class="qbfl">
					<a href="">全部商品分类</a>
				</div>

				<div class="sldh">
					<ul id="uile">
						<li><a href="">服装城</a></li>
						<li><a href="">美妆馆</a></li>
						<li><a href="">美食</a></li>
						<li><a href="">全球购</a></li>
						<li><a href="">闪购</a></li>
						<li><a href="">团购</a></li>
						<li><a href="">夺宝岛</a></li>
						<li><a href="">金融</a></li>
						<li><a href="">智能</a></li>
					</ul>
				</div>
				<div class="zhijian">
					<a href=""><img src="img/15.jpg"></a>

				</div>
			</div>
		</div>
	</div>
	<div id="jd-dtgd">
		<div class="dingbu">
			<div class="topmenu">
				<li class="lm" id="cf1"><a class="ml" href="">家用电器</a><em class="zt">></em>
					<div class="mbc1">
						<div class="fenlei1">
							<div class="sdh">
								<div class="bz1">
									<div class="sdh1">
										<span>家电城</span>
										<i>></i>
									</div>
									<div class="sdh2">
										<span>智能生活馆</span>
										<i>></i>
									</div>
									<div class="sdh3">
										<span>电商净化馆</span>
										<i>></i>
									</div>
									<div class="sdh4">
										<span>电商帮服务店</span>
										<i>></i>
									</div>
								</div>

							</div>
							<div class="liebiao">
								<div class="dh1">
									<div class="biaoti1">
										<div class="djd">
											<a>大家电</a>
											<i>></i>
										</div>
										<div class="neirong">
											<div class=""><a href>平板电视</a></div>
											<div class=""><a href>空调</a></div>
											<div class=""><a href>冰箱</a></div>
											<div class=""><a href>洗衣机</a></div>
											<div class=""><a href>家庭影院</a></div>
											<div class=""><a href>DVD</a></div>
											<div class=""><a href>迷你音响</a></div>
											<div class=""><a href>烟机/灶具</a></div>
											<div class=""><a href>热水器</a></div>
											<div class=""><a href>消毒柜/洗碗机</a></div>
											<div class=""><a href>冷柜/冰吧</a></div>
											<div class=""><a href>酒柜</a></div>
											<div class=""><a href>家电配件</a></div>
										</div>
									</div>
									<div class="dh2">
										<div class="biaoti2">
											<div class="djd2">
												<a>生活电器</a>
												<i>></i>
											</div>
											<div class="neirong3">
												<div class=""><a href>电风扇</a></div>
												<div class=""><a href>冷风扇</a></div>
												<div class=""><a href>净化器</a></div>
												<div class=""><a href>加湿器</a></div>
												<div class=""><a href>扫地机器人</a></div>
												<div class=""><a href>吸尘器</a></div>
												<div class=""><a href>挂烫器/熨斗</a></div>
												<div class=""><a href>插座</a></div>
												<div class=""><a href>电话机</a></div>
												<div class=""><a href>清洁机</a></div>
												<div class=""><a href>除湿机</a></div>
												<div class=""><a href>干衣机</a></div>
												<div class=""><a href>收录/音机</a></div>
												<div class=""><a href>取暖电器</a></div>
												<div class=""><a href>其他生活电器</a></div>
												<div class=""><a href>生活电器配件</a></div>
												<div class=""><a href>净水设备</a></div>
												<div class=""><a href>饮水机</a></div>
											</div>
										</div>
										<div class="dh3">
											<div class="biaoti2">
												<div class="djd2">
													<a>厨房电器</a>
													<i>></i>
												</div>
												<div class="neirong2">
													<div class=""><a href>电压力锅</a></div>
													<div class=""><a href>电饭煲</a></div>
													<div class=""><a href>豆浆机</a></div>
													<div class=""><a href>面包机</a></div>
													<div class=""><a href>咖啡机</a></div>
													<div class=""><a href>微波炉</a></div>
													<div class=""><a href>料理/榨汁机</a></div>
													<div class=""><a href>电烤箱</a></div>
													<div class=""><a href>电磁炉</a></div>
													<div class=""><a href>电饼铛/烧烤盘</a></div>
													<div class=""><a href>煮蛋器</a></div>
													<div class=""><a href>酸奶机</a></div>
													<div class=""><a href>电水壶/热水瓶</a></div>
													<div class=""><a href>电炖锅</a></div>
													<div class=""><a href>多用途锅</a></div>
													<div class=""><a href>果蔬解毒机</a></div>
													<div class=""><a href>养生壶/煎药壶</a></div>
													<div class=""><a href>电热饭盒</a></div>
													<div class=""><a href>其他厨房电器</a></div>
												</div>
											</div>
											<div class="dh4">
												<div class="biaoti2">
													<div class="djd2">
														<a>个护健康</a>
														<i>></i>
													</div>
													<div class="neirong4">
														<div class=""><a href>剃须刀</a></div>
														<div class=""><a href>剃/脱毛器</a></div>
														<div class=""><a href>口腔护理</a></div>
														<div class=""><a href>电吹风</a></div>
														<div class=""><a href>美容器</a></div>
														<div class=""><a href>理发器</a></div>
														<div class=""><a href>卷/直发器</a></div>
														<div class=""><a href>按摩椅</a></div>
														<div class=""><a href>按摩器</a></div>
														<div class=""><a href>足浴盆</a></div>
														<div class=""><a href>血压计</a></div>
														<div class=""><a href>健康秤/厨房秤</a></div>
														<div class=""><a href>血糖仪</a></div>
														<div class=""><a href>体温计</a></div>
														<div class=""><a href>计步器/脂肪检测仪</a></div>
														<div class=""><a href>其他健康电器</a></div>
													</div>
												</div>
												<div class="dh5">
													<div class="biaoti2">
														<div class="djd2">
															<a>五金家装</a>
															<i>></i>
														</div>
														<div class="neirong5">
															<div class=""><a href>电动工具</a></div>
															<div class=""><a href>手动工具</a></div>
															<div class=""><a href>仪器仪表</a></div>
															<div class=""><a href>浴霸/排气扇</a></div>
															<div class=""><a href>灯具</a></div>
															<div class=""><a href>LED灯</a></div>
															<div class=""><a href>洁身器</a></div>
															<div class=""><a href>水槽</a></div>
															<div class=""><a href>龙头</a></div>
															<div class=""><a href>淋浴花洒</a></div>
															<div class=""><a href>厨卫五金</a></div>
															<div class=""><a href>家具五金</a></div>
															<div class=""><a href>门铃</a></div>
															<div class=""><a href>电器开关</a></div>
															<div class=""><a href>插座</a></div>
															<div class=""><a href>电工电料</a></div>
															<div class=""><a href>监控安防</a></div>
															<div class=""><a href>电线/线缆</a></div>
														</div>
													</div>
												</div>

											</div>


										</div>

									</div>

									<div class="fenlei2">
										<div class="yige">
											<a href=""><img src="img/39.jpg"></a>
											<a href=""><img src="img/38.jpg"></a>
											<a href=""><img src="img/37.jpg"></a>
											<a href=""><img src="img/36.jpg"></a>
											<a href=""><img src="img/35.jpg"></a>
											<a href=""><img src="img/34.jpg"></a>
											<a href=""><img src="img/33.jpg"></a>
											<a href=""><img src="img/41.jpg"></a>
										</div>
										<div class="erge">
											<a href=""><img src="img/8889.jpg"></a>
										</div>
										<div class="sange">
											<a href=""><img src="img/999.jpg"></a>
										</div>

									</div>
				</li>
				<li class="lm"><a class="ml" href="">手机、数码、电商通信</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">电脑、办公</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">家居、家具、家装、厨具</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">男装、女装、内衣、珠宝</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">个护化妆</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">鞋靴、箱包、钟表、奢侈品</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">运动户外</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">汽车、汽车用品</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">母婴、玩具乐器</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">食品饮料、酒类、生鲜</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">营养保健</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">图书、音像、数字商品</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">彩票、旅行、充值、票务</a><em class="zt">></em></li>
				<li class="lm"><a class="ml" href="">理财、众筹、白条、保险</a><em class="zt">></em></li>

			</div>
			<div id="jiaodian">
				<div id="tho">
					<ul id="con">
						<li class="show"><img src="image/b2.png" /></li>
						<li><img src="image/b1.png" /></li>
						<li><img src="image/b2.png" /></li>
						<li><img src="image/b1.png" /></li>
						<li><img src="image/b2.png" /></li>
						<li><img src="image/b1.png" /></li>
					</ul>
					<div id="zuo">
						<i>
							<</i> </div> <div id="you">
								<i>></i>
					</div>
				</div>
				<ol id="nev">
					<li class="active">1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
				</ol>

				<div id="babab">
					<div id="news">
						<div class="mt">
							<h2>电商快报</h2>
							<div class="extra">
								<a class="zt" href="">更多 ></a>
							</div>
						</div>
						<div class="mc">
							<ul>
								<li class="">

									<a href="">[特惠]</a>
									<a href="">大牌男装特卖1折起 夏日优选</a>


								</li>
								<li class="">

									<a href="">[公告]</a>
									<a href="">电商杯智能硬件创新创业大赛</a>

								</li>
								<li class="">

									<a href="">[特惠]</a>
									<a href="">华南8周年盛典 爆品1元起抢</a>

								</li>
								<li class="">

									<a href="">[公告]</a>
									<a href="">电商启动空净节 渠道优势明显</a>
									</marquee>
								</li>
								<li class="">

									<a href="">[特惠]</a>
									<a href="">为爱而来 AUX儿童空调众筹</a>

								</li>
							</ul>
						</div>
					</div>
					<div id="lisheng">
						<div class="mt">
							<h2>生活服务</h2>
							<div class="extra"></div>
						</div>
						<div class="mc">
							<ul>
								<li class="fo1 bxu">
									<a href="">话费</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo2 bxu">
									<a href="">机票</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo3 bxu">
									<a href="">电影票</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo4 bxu">
									<a href="">游戏</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo5">
									<a href="">彩票</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo6">
									<a href="">团购</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo7">
									<a href="">酒店</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo8">
									<a href="">水电煤</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo9">
									<a href="">众筹</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo10">
									<a href="">保险</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo11">
									<a href="">理财</a>
									<i class="hbhb"></i>
								</li>
								<li class="fo12">
									<a href="">白条</a>
									<i class="hbhb"></i>
								</li>


							</ul>
							<div id="x6">
								<dl class="laiba">
									<dt class="fore1 pios">
										<div class="a86 yangshi666">
											<span>话费</span>

										</div>
									</dt>
									<dt class="fore2 pios">
										<div class="a86">
											<span>机票</span>

										</div>
									</dt>
									<dt class="fore3 pios">
										<div class="a86">
											<span>电影票</span>

										</div>
									</dt>
									<dt class="fore4 pios">
										<div class="a86" style="width:65px;">
											<span>游戏</span>

										</div>
									</dt>
								</dl>
								<div id="ch6">
									<i class="fq">
										<img src="img2/ch1.png">
									</i>
								</div>
								<div class="out6 caom">
									<div class="hout">
										<dl>
											<dt class="ddw">
												<p class="jbm">
													话费充值
												</p>
											</dt>
											<dt class="ddw">
												<p class="qqq ">
													流量充值
												</p>

											</dt>
										</dl>
										<div class="limqh">
											<div class="cone">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">面值</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 154px;color:#c81623">￥98.0-￥100.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>
													<span
														style="color: #005ea7;position: absolute;top: 182px;left: 43px;">电信校园优惠购机</span>

												</p>
											</div>
											<div class="cone impw">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">流水</label>
													</div>
													<dd class="pr2">
														<select id="areaSelect" class="select-city-traffic"
															clstag="h|keycount|2015|10b01b02"
															style="left: 38px;position: absolute;top: 105px">
															<option>全国</option>
															<option>省内</option>
														</select>

													</dd>
													<dd>
														<select id="faceSelect" class="select-price-traffic"
															clstag="h|keycount|2015|10b01b03"
															style="left: 99px;position: absolute;top: 105px">
															<option value="50" selected="">50M</option>
															<option value="100">100M</option>
															<option value="200">200M</option>
															<option value="300">300M</option>
															<option value="500">500M</option>
														</select>
													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 160px;color:#c81623">￥7.5-￥10.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>

												</p>
											</div>


										</div>




									</div>


								</div>
								<div class="out7 caom">
									<div class="hout">
										<dl>
											<dt class="ddw">
												<p class="jbm">
													国内
												</p>
											</dt>
											<dt class="ddw">
												<p class="qqq ">
													国际
												</p>
											<dt class="ddw">
												<p class="qqq ">
													特惠
												</p>

											</dt>
										</dl>
										<div class="limqh">
											<div class="cone">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">面值</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 154px;color:#c81623">￥98.0-￥100.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>
													<span
														style="color: #005ea7;position: absolute;top: 182px;left: 43px;">电信校园优惠购机</span>

												</p>
											</div>
											<div class="cone impw" style="display: none;">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">流水</label>
													</div>
													<dd class="pr2">
														<select id="areaSelect" class="select-city-traffic"
															clstag="h|keycount|2015|10b01b02"
															style="left: 38px;position: absolute;top: 105px">
															<option>全国</option>
															<option>省内</option>
														</select>

													</dd>
													<dd>
														<select id="faceSelect" class="select-price-traffic"
															clstag="h|keycount|2015|10b01b03"
															style="left: 99px;position: absolute;top: 105px">
															<option value="50" selected="">50M</option>
															<option value="100">100M</option>
															<option value="200">200M</option>
															<option value="300">300M</option>
															<option value="500">500M</option>
														</select>
													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 160px;color:#c81623">￥7.5-￥10.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>

												</p>
											</div>


										</div>




									</div>


								</div>
								<div class="out8 caom">
									<div class="hout">
										<dl>
											<dt class="ddw">
												<p class="jbm">
													正在热映
												</p>
											</dt>
											<dt class="ddw">
												<p class="qqq ">
													即将上映
												</p>

											</dt>
										</dl>
										<div class="limqh">
											<div class="cone">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">面值</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 154px;color:#c81623">￥98.0-￥100.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>
													<span
														style="color: #005ea7;position: absolute;top: 182px;left: 43px;">电信校园优惠购机</span>

												</p>
											</div>
											<div class="cone impw" style="display: none;">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">流水</label>
													</div>
													<dd class="pr2">
														<select id="areaSelect" class="select-city-traffic"
															clstag="h|keycount|2015|10b01b02"
															style="left: 38px;position: absolute;top: 105px">
															<option>全国</option>
															<option>省内</option>
														</select>

													</dd>
													<dd>
														<select id="faceSelect" class="select-price-traffic"
															clstag="h|keycount|2015|10b01b03"
															style="left: 99px;position: absolute;top: 105px">
															<option value="50" selected="">50M</option>
															<option value="100">100M</option>
															<option value="200">200M</option>
															<option value="300">300M</option>
															<option value="500">500M</option>
														</select>
													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 160px;color:#c81623">￥7.5-￥10.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>

												</p>
											</div>


										</div>



									</div>


								</div>
								<div class="out9 caom">
									<div class="hout">
										<dl>
											<dt class="ddw">
												<p class="jbm">
													正在热映
												</p>
											</dt>
											<dt class="ddw">
												<p class="qqq ">
													即将上映
												</p>

											</dt>
										</dl>
										<div class="limqh">
											<div class="cone">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">面值</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 154px;color:#c81623">￥98.0-￥100.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>
													<span
														style="color: #005ea7;position: absolute;top: 182px;left: 43px;">电信校园优惠购机</span>

												</p>
											</div>
											<div class="cone impw" style="display: none;">
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">号码</label>
													</div>
													<dd class="pr">
														<input type="text" class="input-phone" value="移动、联通、电信"
															maxlength="11" id="phoneNumber"
															clstag="h|keycount|2015|10b01a01">

													</dd>

												</dl>
												<dl class="form-top">
													<div class="hy">
														<label for="" style="color:#666">流水</label>
													</div>
													<dd class="pr2">
														<select id="areaSelect" class="select-city-traffic"
															clstag="h|keycount|2015|10b01b02"
															style="left: 38px;position: absolute;top: 105px">
															<option>全国</option>
															<option>省内</option>
														</select>

													</dd>
													<dd>
														<select id="faceSelect" class="select-price-traffic"
															clstag="h|keycount|2015|10b01b03"
															style="left: 99px;position: absolute;top: 105px">
															<option value="50" selected="">50M</option>
															<option value="100">100M</option>
															<option value="200">200M</option>
															<option value="300">300M</option>
															<option value="500">500M</option>
														</select>
													</dd>
													<dd>
														<span class="msg-price" id="priceRecharge" style="position: absolute;
														  top: 107px;
														  left: 160px;color:#c81623">￥7.5-￥10.0</span>
													</dd>

												</dl>
												<div class="btn-wrap">
													<input clstag="pageclick|keycount|201505054|1" type="button"
														value="快速充值" class="btn-submit button">
													<span class="ptime msg-price"></span>
												</div>
												<p class="link-ad">
													<a href="http://c.nfa.jd.com/adclick?keyStr=IrfXdAF5rCKpJEj5Llo+kLu0aW9q7WnWMbeGzxJhZlJ7XjJH9T75O6cqzRS5VuIpW+F6js/YMPLTi9mM2KSfArzTs0qLZcmxMpTArNHtuXikRHu72QFn7Uy4dpYrniyD1CQFKAqLu5ipqQSmh07eNzN3zRIXXQF2eQNsz0uqc/fz/pYqcD5JncDEQhYimiAiuGbGHZjcBT1dStWcljQNFpo2VhHqrzj2E/TpshW8wCta6IdJUjTIKRmwwUsyK5FSXBkiAmE1DZB8/5KAXvjI8RausD0bACfw85n5q2vUCAI=&amp;cv=2.0&amp;url=http://jiaofei.jd.com/"
														target="_blank" clstag="h|keycount|2015|10b01b05"><s
															class="icon-hot"></s> </a>
												</p>
											</div>
										</div>

									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="shop-list" id="todays">
		<div class="min2">
			<ul id="goods-list">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="y">
		<div id="footer-2014">
			<div class="links">
				<a>关于我们</a>
				|
				<a>联系我们</a>
				|
				<a>商家入驻</a>
				|
				<a>营销中心</a>
				|
				<a>手机电商</a>
				|
				<a>友情链接</a>
				|
				<a>销售联盟</a>
				|
				<a>电商社区</a>
				|
				<a>电商公益</a>
				|
				<a>English Site</a>
				|
				<a>Contact Us</a>

			</div>
			<div class="copyright">
				北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;
				<a>
					互联网药品信息服务资格证编号(京)-经营性-2014-0008
				</a>
				| 新出发京零 字第大120007号
				<br>
				<a>
					音像制品经营许可证苏宿批005号
				</a>
				| 出版物经营许可证编号新出发(苏)批字第N-012号 | 互联网出版许可证编号新出网证(京)字150号
				<br>
				<a>
					网络文化经营许可证京网文[2014]2148-348号
				</a>
				违法和不良信息举报电话：4006561155 Copyright © 2004-2015 电商JD.com 版权所有
				<br>
				电商旗下网站：
				<a>360TOP</a>
				&nbsp;&nbsp;
				<a>拍拍网</a>
				&nbsp;&nbsp;
				<a>网银在线</a>
			</div>
			<div class="authentication">
				<a>
					<img src="img2/l1.png">
				</a>
				<a>
					<img src="img2/l2.png">
				</a>
				<a>
					<img src="img2/l3.png">
				</a>
				<a>
					<img src="img2/l4.png">
				</a>
				<a>
					<img src="img2/l5.png">
				</a>
				<a>
					<img src="img2/p1.jpg">
				</a>
			</div>

		</div>

	</div>





</body>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	$.fn.extend({
		tabscroll: function () {
			var $_this = $(this);
			$_this.find('.laiba .pios').mouseover(function () {
				var i = $(this).index();
				$_this.find('.caom').eq(i).show().siblings().hide();
				$_this.find('.laiba').show();

			})
		}
	})
	$(function () {
		$('.ddw').tabscroll();
	})
	//里tab切换
	$(function () {

		$('.ddw').mouseover(function () {
			var i = $(this).index();
			$('.limqh .cone').eq(i).show().siblings().hide();

		})
	})
	//第一tab切换样式
	$(function () {
		$('#x6 dt').mouseover(function () {
			var i = $(this).index();
			$('#x6 dt>div').removeClass('yangshi666').css('borderBottom', 'solid 1px #E8E8E7')
			$('#x6 dt .a86').eq(i).addClass('yangshi666').css('borderBottom', 'none')

		})
	})
	//飞机票JQ
	$(function () {
		$('.bxu').mouseover(function () {
			$('#x6').animate({ 'top': '0px' }, 'slow', 'easeOutQuad')
		})
		$('#ch6').click(function () {
			$('#x6').animate({ 'top': '209px' }, 'slow', 'easeInOutBack')
		})
	})
	//进入页面显示楼层导航
	$(window).scroll(function () {
		var chhe = $(window).scrollTop();
		if (chhe >= 1500) {
			$('#goodby').show();

		}
		else {
			$('#goodby').hide();
		}
		if (chhe >= 8500) {
			$('#goodby').hide();
		}


	})
	//楼层导航定位
	$(function () {
		$('#goodby li').click(function () {
			var i = $(this).index();
			$('body').animate({ scrollTop: $('.hey').eq(i).offset().top }, 'slow', 'easeInOutBack')
		})
	})


	//抄底评论Y轴滚动
	$(function () {
		var x = 0;
		var tpl = $('.oppe dt').outerHeight(true);
		timer342 = setInterval(function () {
			x--;
			if (x < 0) {
				x = $('.oppe dt').length - 3
				$('#reme').scrollTop(tpl * (x + 1))
			}
			$('#reme').animate({ scrollTop: tpl * x }, 'slow', 'easeInOutBack')

		}, 2000)

	})
	//今日抄底,图片动画效果
	$('.aox li').hover(
		function () {

			var i = $(this).index();
			$('.aox li img').eq(i).animate({ marginLeft: '20px' })

		},
		function () {

			var i = $(this).index();
			$('.aox li img').eq(i).animate({ marginLeft: '0px' })
		}
	)
	//2,6楼大图滚动
	$.fn.extend({
		imgRoll2: function () {
			var $_this = $(this);
			var imgw = $_this.find('.fld li').width();
			var x = 0;
			var anm = true;

			$_this.find('#zjt3').click(function () {
				clearInterval(timer18);
				if (anm) {
					anm = false;
					x--;
					if (x < 0) {
						x = $_this.find('.fld li').length - 1;
					}
					www();
				};
				sue();
			})

			$_this.find('#yjt3').click(function () {
				clearInterval(timer18);
				if (anm) {
					anm = false;
					x++;
					if (x >= $_this.find('.fld li').length) {
						x = 0;
					}
					www();
				};
				sue();
			})

			$_this.find('#sli2 li').mouseover(function () {
				clearInterval(timer18);
				x = $_this.find('#sli2 li').index(this);
				$_this.find('#sli2 li').eq(x).addClass('der-ite').siblings().removeClass('der-ite');
				$_this.stop().animate({ scrollLeft: imgw * x }, 400)
				sue();
			})
			var timer18 = null;
			function sue() {

				timer18 = setInterval(function () {
					x++;
					if (x >= $_this.find('.fld li').length - 1) {
						x = 0;
					}
					$_this.find('#sli2 li').eq(x).addClass('der-ite').siblings().removeClass('der-ite');
					$_this.stop().animate({ scrollLeft: imgw * x }, 400);
				}, 4000)
			}
			sue();

			function www() {
				$_this.find('#sli2 li').eq(x).addClass('der-ite').siblings().removeClass('der-ite');
				$_this.stop().animate({ scrollLeft: imgw * x }, 400, function () {
					anm = true;
				})
			}

		}
	})
	$(function () {
		$('#gjs').imgRoll2();
		$('#gjs2').imgRoll2();
		$('#gjs3').imgRoll2();
		$('#gjs4').imgRoll2();
		$('#gjs5').imgRoll2();
	})

	//3,4,5楼大图滚动.JQ面向对象//
	$.fn.extend({
		imgRoll: function () {
			var $_this = $(this);
			var imgw = $_this.find('.dse li').width();
			var x = 0;
			var agg = true;




			$_this.find('#zjt4').click(function () {
				clearInterval(timer25)
				if (agg) {
					agg = false;
					x--;
					if (x < 0) {
						x = $_this.find('.dse li').length - 1
					}
					$_this.find('#sli3 li').eq(x).addClass('der-ite').siblings().removeClass('der-ite');
					$_this.stop().animate({ scrollLeft: imgw * x }, 'slow', 'easeInOutBack', function () {
						agg = true;
					})
					melai();

				}
			})
			$_this.find('#yjt4').click(function () {
				clearInterval(timer25)
				if (agg) {
					agg = false;
					x++;
					if (x > $_this.find('.dse li').length - 1) {
						x = 0
					}
					$_this.find('#sli3 li').eq(x).addClass('der-ite').siblings().removeClass('der-ite');
					$_this.stop().animate({ scrollLeft: imgw * x }, 'slow', 'easeInOutBack', function () {
						agg = true;
					})
					melai();

				}
			})
			$_this.find('#sli3 li').mouseover(function () {
				clearInterval(timer25)
				x = $_this.find('#sli3 li').index(this);
				$_this.find('#sli3 li').eq(x).addClass('der-ite').siblings().removeClass('der-ite');
				$_this.stop().animate({ scrollLeft: imgw * x }, 'slow', 'easeInOutBack')
				melai();

			})
			var timer25 = null;
			function melai() {
				timer25 = setInterval(function () {
					x++;
					if (x > $_this.find('.dse li').length - 1) {
						x = 0
					}
					$_this.find('#sli3 li').eq(x).addClass('der-ite').siblings().removeClass('der-ite');
					$_this.stop().animate({ scrollLeft: imgw * x }, 'slow', 'easeInOutBack')
				}, 4000)

			}
			melai();
		}

	})
	$(function () {
		$('.ssl').imgRoll();
		$('.ssl2').imgRoll();
		$('.ssl3').imgRoll();
		$('.ssl4').imgRoll();
		$('.ssl5').imgRoll();
		$('.ssl6').imgRoll();
	})



	//JQ版tab切换
	$(function () {
		$('#baozhu3 .tab li').mouseover(function () {
			var i = $(this).index();
			$('#baozhu3 .tab li').eq(i).addClass('tab-tiell').siblings().removeClass('tab-tiell');
			$('#gbug>li').eq(i).show().siblings().hide();


		})
	})


	//所有楼tab切换
	$.fn.extend({
		tabscroll: function () {
			var $_this = $(this);
			$_this.find('#wfoo3 .tab li').mouseover(function () {
				var i = $(this).index();
				$_this.find('#wfoo3 .tab li').eq(i).addClass('tab-tiell').siblings().removeClass('tab-tiell');
				$_this.find('#yui>li').eq(i).show().siblings().hide();
			})
		}
	})
	$(function () {
		$('#wfoo').tabscroll();
		$('#cfoo').tabscroll();
		$('#cfoo2').tabscroll();
		$('#cfoo3').tabscroll();
		$('#kfoo').tabscroll();
		$('#kfoo2').tabscroll();
		$('#kfoo3').tabscroll();
		$('#kfoo4').tabscroll();
		$('#cfoo4').tabscroll();
	})


	//JQ版大图滚动
	$(function () {
		var cch = $('#rxx li').eq(0).width();//获取一张图片的宽度
		var hcc = 0;//定义滚动条总宽度
		$('#zjt2').click(function () {//绑定事件
			clearInterval(timer19)
			hcc -= cch;//滚动条的总宽度减去一张图片的宽度
			if (hcc < 0) { hcc = cch * 3; };//滚动条宽度小于0的时候.显示最后一张
			diaoy();
			rem()
		})
		$('#yjt2').click(function () {
			clearInterval(timer19)
			hcc += cch;
			if (hcc >= cch * 4) { hcc = 0; };
			diaoy();
			rem()
		})
		$('#sli li').mouseover(function () {//绑定事件
			clearInterval(timer19)
			var i = $(this).index();//i循环
			hcc = cch * i;//滚动条总宽度等于一张图片总宽度乘以i
			diaoy();
			rem()
		})
		var timer19 = null;
		function rem() {
			timer19 = setInterval(function () {
				hcc += cch;
				if (hcc >= cch * 4) { hcc = 0; };
				diaoy();
			}, 4000)
		}
		rem();
		function diaoy() {
			$('#sli li').eq(hcc / cch).addClass('der-ite').siblings().removeClass('der-ite');
			$('#rxx').stop().animate({ scrollLeft: hcc }, 400);
		}
	})








	//全局固定计时器
	/*	var ggg=document.getElementById('ggg');
		 var cc=ggg.getElementsByTagName('i')[0];
		 var zzt=ggg.getElementsByTagName('em')[0];
		 var timer=null;
		 var timer1111111=null;
		 var emLeft=0;
		 ggg.onmouseover=function() {
			   clearInterval(timer1111111);
			   timer=setInterval(function () {
				   emLeft--;
				   if (emLeft<=-62) {
					   emLeft=-62;
					   clearInterval(timer);
				   }
				   zzt.style.left=emLeft+'px';
			   },1)
		 }
		 ggg.onmouseout=function() {
			   clearInterval(timer);
			   timer1111111=setInterval(function () {
				   emLeft++;
				   if (emLeft>=0) {
					   emLeft=0;
					   clearInterval(timer1111111);
				   }
				   zzt.style.left=emLeft+'px';
			   },1)
		 }*/



	/* 	var denglu=document.getElementById('jd-denglu');
		  var yzbj=denglu.getElementsByTagName('div')[1];
		  var asd=document.getElementById('asd');
	
		  yzbj.onmouseover=function () {
				asd.style.display='block';
		  }
	
	
		  yzbj.onmouseout=function () {
				asd.style.display='none';
		  }
	
	
	*/



	//选择城市
	var jddenglu = document.getElementById('jd-denglu');
	var yzbj = jddenglu.getElementsByTagName('div')[1];
	var ssss = jddenglu.getElementsByClassName('sss')[0];
	var asd = document.getElementById('asd');
	var chengshi = asd.getElementsByClassName('chengshi')[1];
	var as = asd.getElementsByTagName('a');
	var imgs = jddenglu.getElementsByTagName('img')[0];
	var imgs1 = jddenglu.getElementsByTagName('img')[1];

	/*alert(as.length)*/

	yzbj.onmouseover = function () {
		asd.style.display = 'block';
		/*	imgs.style.display='none';
			imgs1.style.display='block';*/
	}

	yzbj.onmouseout = function () {
		asd.style.display = 'none'
		/*imgs.style.display='block';
		imgs1.style.display='none';*/
	}


	for (var i = 0; i < as.length; i++) {
		as[i].onclick = function () {
			asd.style.display = 'none';
			for (var i = 0; i < as.length; i++) {
				if (as[i] == this) {
					ssss.innerHTML = as[i].innerHTML;
					as[i].className = 'yanshi';
					as[i].style.background = '#c81623'
					as[i].style.color = 'white'
				} else {
					as[i].className = '';
					as[i].style.background = ''
					as[i].style.color = ''

				}
			}
		}
	}

	//透明图切换
	var con = document.getElementById('con');
	var lis = con.getElementsByTagName('li');
	var nev = document.getElementById('nev');
	var lie = nev.getElementsByTagName('li');
	var num = 0;
	var tiom = null;
	var tiom2 = null;

	function wangchong(num) {
		clearInterval(tiom);
		a();
		for (var i = 0; i < lis.length; i++) {
			lie[i].className = '';
			lis[i].style.opacity = 0;
		};
		lie[num].className = 'active';
		var baiyu = 0;
		tiom = setInterval(function () {
			for (var i = 0; i < lis.length; i++) {
				baiyu += 0.02;
				if (baiyu >= 1) {
					baiyu = 1;
					e();
					clearInterval(tiom)
				}
				lis[num].style.opacity = baiyu;
			};
		}, 50);
	}

	function chongwang() {
		num++;
		if (num >= lis.length) {
			num = 0;
			wangchong(num);
		}
		wangchong(num);
	}

	tiom2 = setInterval(chongwang, 2000);
	for (var i = 0; i < lis.length; i++) {
		lie[i].index = i;
		lie[i].onmouseover = function () {
			clearInterval(tiom2);
			num = this.index;
			wangchong(num);
		}
		lie[i].onmouseout = function () {
			tiom2 = setInterval(chongwang, 2000);
		}
	};
	var zuo = document.getElementById('zuo');
	var you = document.getElementById('you');

	function e() {
		zuo.onclick = function () {
			clearInterval(tiom2);
			num--;
			if (num < 0) {
				num = lis.length - 1;
			}
			wangchong(num);
			tiom2 = setInterval(chongwang, 2000);
		}

		you.onclick = function () {
			clearInterval(tiom2);
			num++;
			if (num >= lis.length) {
				num = 0;
			}
			wangchong(num);
			tiom2 = setInterval(chongwang, 2000);
		}
	}

	function a() {
		zuo.onclick = function () {
			return false;
		}

		you.onclick = function () {
			return false;
		}
	}

	e();



	$(".sad").click(function () {
		var speed = 200;//滑动的速度
		$('body,html').animate({ scrollTop: 0 }, speed);
		return false;
	});

</script>

</html>