<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/nav.css">
    <!-- <link rel="stylesheet" href="css/model.css"> -->
    <link rel="stylesheet" href="css/all.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=bMgcz5BHxOd6KKbUuFHxosnXATsz9lrj"></script>
    <script src="js/jquery-3.4.0.js"></script>
    <script type="text/javascript">
      // 百度地图API功能

      var point = new BMap.Point(116.331398,39.897445);
    
      function myFun(result){
        var cityName = result.name;
        $("#city").html(cityName)
      }
      var myCity = new BMap.LocalCity();
      myCity.get(myFun);
    </script>

    <title>体育</title>
    <style>
        .login li a:hover {
            color: #007bff !important;
            background-color: #f8f9fa !important;
            text-decoration: none;
        }

        .fa-basketball-ball {
            color: coral;
            font-size: 60px;
        }

        .navbar {
            opacity: 1;
        }

        .fa-thumbs-up {
            font-size: 2rem;
            color: #ddd;
            cursor: pointer;
            transition: transform 0.5s;
        }

        .like {
            color: red;
        }

        .fa-thumbs-up:active {
            color: red;
            transform: scale(2, 2);
            transition: transform 0.1s;
        }

        .shop {
            border-radius: 0;
            transform: .2;
        }

        .shop:hover,
        .shop:focus {
            background-color: #CD5555;
        }

        .card {
            border-radius: 0;
        }

        .shop a {
            text-decoration: none;
            color: #fff;
        }

        .card:hover {
            transform: scale(1.05, 1.05);
            transition: transform 0.1s;
        }

        .act {
            background-color: #007bff;
            color: #fff;
        }

        .tx {
            font-size: 2rem;
            color: #bbb;
        }

        .current {
            transform: scale(1.5, 1.5);
            color: #666;
        }

        #dy:hover {
            color: #428bca;
            ;
        }

        .login-tb {
            border-radius: 50%;
            font-size: 30px;

        }

        /* .login-zh{
      display: none;
    } */
        .login-ewm {
            display: none;
        }

        .login-at {
            border-bottom: solid #dc3545;
            ;
            cursor: pointer;
        }

        .login-de {
            border-bottom: solid #9E9E9E;
            color: #9E9E9E;
            cursor: pointer;
        }

        .contact .form-group .form-control{
      border-radius: 0;
    }
    .fa-phone,.name,
    .fa-map-marker-alt,
    .fa-envelope{
      font-size: 18px;
    }
    .f-con{
      font-size: 10px;
    } 
    .footer-social li{
      width: 35px;
      height: 35px;
      background: #9E9E9E;
      font-size: 15px;
      border-radius: 50%;
      padding-top: 10px;
      color: #fff;   
    }
    .footer-social li:hover{
      color: #fff;  
      background: orange;
      cursor: pointer;
    }
    .fa-info-circle{
        color:#707070;
        cursor: pointer;
    }
    .zf{
        border:2px solid #9E9E9E;
        color: #9E9E9E;
        cursor: pointer;
    }
    .zf-1{
        border:2px solid #dc3545;
        color: #dc3545;
        cursor: pointer;
    }
    .zf-2{
        border:2px solid #28a745;
        color: #28a745;
        cursor: pointer;
    }
    .zf-3{
        border:2px solid #007bff;
        color: #007bff;
        cursor: pointer;
    }
    
    </style>
</head>

<body data-spy="scroll" data-target="#mylist" data-offset="100">
    <!-- 以下为模态框内容 -->
    <!-- 登录 -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document" style="max-width: 500px;">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: none;">
          <div class="text-center mt-3 login-at"
            style="width: 200px;height: 40px;margin-left: 30px;">账号登录</div>
          <div class=" text-center mt-3 login-de" style="width: 200px;height: 40px;">二维码登录
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 10px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- 账号登录 -->
        <div class="modal-body login-zh" >
          <div style="max-width: 400px;margin-left: 30px;">
            <form action="denglu.php" method="post">
              <div class="form-group" >
                <input type="text" class="form-control" id="num" placeholder="请输入账号">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="请输入密码">
              </div>
              <div class="form-group row">
                <div class="col-md-6 ">
                  <div class="form-check">
                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                    <label for="remember" class="form-check-label">记住账号</label>
                  </div>
                </div>
                <div class="col-md-6 text-right mt-1" style="font-size: 10px">
                  <span>忘记密码</span>
                  <span>|</span>
                  <span>去注册</span>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block" data-dismiss="modal">登录</button>
              </div>
            </form>
          </div>
        </div>
        <!-- 二维码登录 -->
        <div class="modal-body login-ewm" >
            <div style="display: flex;justify-content:center;">
            <img src="image/ewm.png" style="max-width: 200px;max-height:200px;" >
            </div>
          </div>
        <div class="modal-footer " style="justify-content:left;">
          <div class="container">
            <div class="row">
              <div class="col-md-4 pt-3 d-none  d-md-inline">       
                其他登录方式：&nbsp;        
              </div>
              <div class="col-12 col-md-8">  
              <button type="button" class="btn btn-link login-tb" data-toggle="tooltip" data-placement="top" title="微信登录">
                <i class="fab fa-weixin" style="color: #28a745;"></i></button>
              <button type="button" class="btn btn-link login-tb" data-toggle="tooltip" data-placement="top" title="QQ登录"><i
                  class="fab fa-qq" style="color: #007bff;"></i></button>
              <button type="button" class="btn btn-link login-tb" data-toggle="tooltip" data-placement="top" title="微博登录"><i
                  class="fab fa-weibo" style="color: #dc3545;"></i></button>
              <button type="button" class="btn btn-link login-tb" data-toggle="tooltip" data-placement="top" title="支付宝登录"><i
                  class="fab fa-alipay" style="color: #007bff;"></i></button>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- 以上为模态框内容 -->


    <!-- 导航栏 -->
    <nav class="navbar navbar-light bg-light navbar-expand-md sticky-top" style="margin-top: 10px;height: 30px;">
        <div class="container">
            <ul class="navbar-nav mt-1">
                <li style="list-style-type: none">
                    <i class="fas fa-home"></i>
                    <a class="navbar-brand" style="color: #707070;font-size: 12px;" href="index.html">首页</a>
                </li>
                <li style="list-style-type: none">
                    <i class="fas fa-map-marker-alt"></i>
                    <a class="navbar-brand" id="city" style="color: #707070;font-size: 12px;" href="map.html"></a>
                </li>
            </ul>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mynav" style="height:20;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="mynav">
                <ul class="navbar-nav  ml-auto login">
                    <li style="list-style-type: none;font-size: 12px;">
                        <a href="#" data-toggle="modal" data-target="#exampleModal">登陆</a>
                        <span style="color: #007bff ">|</span>
                        <a href="register.html">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 图片和进度条 -->
    <div class="container mt-3">
        <div class="row ">
            <div class="col-md-4 mt-4 ">
                <a href="index-2.html"><i class="fas fa-basketball-ball"><span >&nbsp;YH体育</span></i></a> 
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5 mt-3">
                <div class="d-flex justify-content-between mb-4">
                    <i class="fas fa-shopping-cart tx"></i>
                    <i class="fas fa-file-invoice  current   tx"></i>
                    <i class="fab fa-alipay tx"></i>
                    <i class="fas fa-gift tx"></i>
                </div>
                <div class="px-4 mb-4">
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width: 33.33%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="container mt-3">
        <div class="row" style="font-weight: bold;">
            填写并核对信息
        </div>
    </div>
    <!-- 订单 -->
    <div class="container mt-2" style="border: #DCDCDC solid 1px;color: #555;">
        <div class="row justify-content-between" style="height: 50px;line-height: 50px;">
            <div class="col-6 col-md-6" style="font-weight: bold;">收货人信息</div>
            <div class="col-3 col-md-2" style="font-size:10px;">新增收货地址</div>
        </div>
        <div class="row ml-4 mr-4"
            style="border-bottom: #DCDCDC solid 1px;font-size:10px;">
            <div class="col-3 col-md-1 mt-2 border-danger py-1"
                style="border:2px solid;text-align: center;font-size: 10px;">
                张三</div>
            <div class="col-12 col-md-10 mt-2 py-1">张三 广东 广州市 从化区 太平镇 广州大学华软软件学院招生就业处-广州大学华软软件学院内 189****456</div>
            <div class="col-12 text-left  mt-2 p-2" style="text-align: center;font-size: 10px;"><a href="#" style="text-decoration: none;">更多收货地址▼</a></div>
        </div>


        <div class="row" style="height: 50px;line-height: 50px;">
            <div class="col-6 col-md-6" style="font-weight: bold;">支付方式</div>
        </div>
        <div class="row ml-4 mr-4" style="border-bottom: #DCDCDC solid 1px">
            <div class="col-4 col-md-2  mt-2  zf py-1"
                style="text-align: center;font-size: 10px;">
                <i class=" fas fa-cart-arrow-down" ></i>&nbsp;货到付款</div>
            <div class="col-3 col-md-2  mt-2 ml-3 zf  py-1"
                style="text-align: center;font-size: 10px;">
                <i class=" fab fa-weixin" ></i>&nbsp;微信</div>
            <div class="col-3 col-md-2  mt-2 ml-3 zf  py-1"
                style="text-align: center;font-size: 10px;">
                <i class=" fab fa-alipay"></i>&nbsp;支付宝</div>
            <div class="col-12  text-4 mt-2 p-2" style="font-size: 10px;"><a href="#" style="text-decoration: none;">更多付款方式▼</a></div>
        </div>

        <div class="row justify-content-between" style="height: 50px;line-height: 50px;">
            <div class="col-6 col-md-6" style="font-weight: bold;">送货清单</div>
            <div class="col-5 col-md-3" style="font-size: 10px"><i class="fas fa-info-circle" style="font-size: 15px;" data-placement="bottom" data-toggle="popover" 
                data-content="因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，商品售价以本结算页商品价格为准。"></i>&nbsp;价格说明&emsp;&emsp;返回修改购物车</div>
        </div>
        <div class="row ml-4 mr-4" >
            <div class="col-12 col-md-4 bg-light" style="height: 250px">
                <div class="container">
                    <div class="row">
                        <div class="col-4 mt-3" style="font-weight: bold;font-size: 12px">配送方式</div>
                        <div class="col-3 offset-5 mt-3" style="font-weight: bold;font-size: 12px;">
                            <a href="#" id="dy" style="text-decoration: none;">对应商品</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5  mt-3 ml-2 border-danger py-1"
                            style="border:1.5px solid;text-align: center;font-size: 10px">
                            华软快递</div>
                    </div>
                    <div class="row" style="font-size: 12px;border-bottom: solid 1px #DCDCDC;">
                        <div class="col-11 mt-4 ">
                            配送时间：工作日、双休日与节假日均可送货
                        </div>
                    </div>
                    <div class="row mt-4" style="font-size: 12px;border-bottom: solid 1px #DCDCDC;"></div>
                </div>
            </div>
            <div class="col-md-8" style="height: 250px;background: #FFEC8B;">
                <div class="container">
                    <div class="row">
                        <div class="col-4 mt-3" style="font-weight: bold;font-size: 12px">商家：华软商城</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 col-md-2">
                            <img src="image/s_bs.jpg" alt="" style="height: 100px;width:100px;">
                        </div>
                        <div class="col-8 col-md-6">
                            <span style="font-size: 10px">斯伯丁室内外比赛训练PU皮7号耐磨防滑篮球76-095</span><br>
                            <span style="font-size: 10px">颜色：红色</span><br>
                            <span style="color:#428bca;font-size: 10px ">七天可退货</span>
                        </div>
                        <div class="col-2">
                            <span style="font-size: 10px">￥199</span><br>
                            <span style="font-size: 10px">0.79kg</span>
                        </div>
                        <div class="col-1">
                            <span style="font-size: 10px">x1</span>
                        </div>
                        <div class="col-1">
                            <span style="font-size: 10px">有货</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="height: 50px;line-height: 50px;">
            <div class="col-6 col-md-6" style="font-weight: bold;">发票信息</div>
        </div>
        <div class="row ml-4 mr-4" style="height: 50px;border-bottom: #DCDCDC solid 1px;font-size:10px; ">
            <div class="col-12 mt-2">
                <span>电子普通发票&emsp;</span>
                <span>个人&emsp;</span>
                <span>商品明细&emsp;</span>
                <span><a href="#" style="text-decoration: none">修改</a></span>
            </div>
        </div>
        <div class="row ml-4 mr-4" style="height: 10px;"></div>
    </div>

    <!-- 结算 -->
    <div class="container">
        <div class="row justify-content-end" style="font-size: 10px;height: 50px;line-height: 50px;">
            <div class="col-4 col-md-2 text-right">1 件商品，总商品金额：</div>
            <div class="col-2 col-md-1 text-right">￥199</div>
        </div>
        <div class="row justify-content-end" style="font-size: 10px;height: 50px;line-height: 50px;">
            <div class="col-4 col-md-2 text-right">运费：</div>
            <div class="col-2 col-md-1 text-right    ">￥0</div>
        </div>
    </div>
    <div class="container " style="background: #FAF0E6">
        <div class="row justify-content-end" style="font-size: 10px;height: 50px;line-height: 50px;">
            <div class="col-4 col-md-2 text-right">应付总额：</div>
            <div class="col-2 col-md-1 text-right" style="font-size:20px;font-weight: bold;color: #CD5555;">￥199</div>
        </div>
        <div class="row" style="font-size: 10px;height: 50px;line-height: 50px;">
            <div class="col text-right">
                寄送至： 广东 &nbsp;广州市 &nbsp;从化区 &nbsp;太平镇 &nbsp;广州大学华软软件学院招生就业处-广州大学华软软件学院内 &nbsp;收货人：&nbsp;张三 189****2349
            </div>
        </div>
    </div>

    <!-- 提交订单 -->
    <div class="container mt-3">
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-danger shop tijiao" id="tj">提交订单</button>
                <button type="submit" class="btn btn-danger shop load" style="display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>正在提交</s>
                    </button>
            </div>     
        </div>
    </div>

    <!-- 页脚 -->
    <footer class="footer mt-5 bg-light"  role="contentinfo">
            <div class="container py-5">
              <div class="row">
                  <div class="col-4">
                      <h5>CONTACT&nbsp;<span style="color: orange">INFO</span></h5>
                      <ul class="list-unstyled footer-link mt-3">
                        <li>
                          <i class="fas fa-phone"></i><span class="ml-3 name" style="color: orange">Telefone</span>
                          <p class="mt-2 f-con">(000) 123 456 78- (000) 123 4567 89</p>
                        </li>
                        <li>
                          <i class="fas fa-map-marker-alt"></i><span class="ml-3 name" style="color: orange">Address</span>
                          <p class="mt-2 f-con">2046 Blue Spruce Lane Laurel Canada</p>
                        </li>
                        <li>
                          <i class="fas fa-envelope"></i><span class="ml-3 name" style="color: orange">E mail</span>
                          <p class="mt-2 f-con">rest@gmail.com - rest@mail.ru</p>
                        </li>
                      </ul>
                  </div>
                  <div class="col-4">
                      <h5>LATEST<span style="color: orange"> BLOG POSTS</span></h5>
                      <ul class="list-unstyled footer-link mt-3">
                        <li>
                          <p class="name" style="color: orange">Nov 9-2014</p>
                          <p class="mt-2 f-con">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien</p>
                        </li>
                        <li>
                          <p class="name" style="color: orange">Sep 8-2014</p>
                          <p class="mt-2 f-con">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien</p>
                        </li>
                      
                      </ul>
                  </div>
                  <div class="col-4">
                      <h5>PHOTO <span style="color: orange">STREAM</span></h5>
                      <p class="mt-2 f-con">No content</p>
                      <h6>Follow <span style="color: orange">US</span></h6>
                      <ul class="list-unstyled footer-link d-flex footer-social text-center mt-3">
                          <li class="fab fa-twitter"></li>
                          <li class="fab fa-facebook-f ml-3"></li>
                          <li class="fab fa-dribbble ml-3 "></li>
                          <li class="fab fa-behance ml-3"></li>
                        </ul>
                  </div>
              </div>
            </div>
          </footer>

<!-- 
    <script src="js/jquery-3.4.0.js"></script> -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal-header').on('click', '.login-de', function () {
                $('.login-at').addClass("login-de")
                $('.login-de').removeClass("login-at")
                $(this).removeClass("login-de")
                $(this).addClass("login-at")

                var a = "账号登录";
                
                if ($(this).text() == a) {
                    $('.login-ewm').hide();
                    $('.login-zh').show();
                } else {
                    $('.login-zh').hide();
                    $('.login-ewm').show();
                }
            })
        });
        $(document).ready(function () {
            $('#tj').on('click', function () {
                $(this).hide();
                $('.load').show();
                var timer = setInterval(go, 700);    //定时器
                var x = 2;
                function go() {
                    x--;
                    if (x == 0) {
                        location.href = 'pay.html';  //要跳转的页面
                        clearInterval(timer);     //清除定时器
                    }
                }
            });
        });

        
        $(document).ready(function () {
            $('.zf').on('click', function () {
                var a="货到付款";
                var b="微信";
                var c="支付宝";
             
                if($(this).text().indexOf(b)!=-1){
                    $('.zf-1').addClass("zf")
                    $('.zf-2').addClass("zf")
                    $('.zf-3').addClass("zf")
                    $('.zf-1').removeClass("zf-1")
                    $('.zf-2').removeClass("zf-2")
                    $('.zf-3').removeClass("zf-3")              
                    $(this).removeClass("zf")
                    $(this).addClass("zf-2")
                }else if($(this).text().indexOf(c)!=-1){
                     $('.zf-1').addClass("zf")
                    $('.zf-2').addClass("zf")
                    $('.zf-3').addClass("zf")
                    $('.zf-1').removeClass("zf-1")
                    $('.zf-2').removeClass("zf-2")
                    $('.zf-3').removeClass("zf-3")               
                    $(this).removeClass("zf")
                    $(this).addClass("zf-3")
                }else if($(this).text().indexOf(a)!=-1){
                    $('.zf-1').addClass("zf")
                    $('.zf-2').addClass("zf")
                    $('.zf-3').addClass("zf")
                    $('.zf-1').removeClass("zf-1")
                    $('.zf-2').removeClass("zf-2")
                    $('.zf-3').removeClass("zf-3")               
                    $(this).removeClass("zf")
                    $(this).addClass("zf-1")
                }
            })
        })

        $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
      })

    </script>
</body>

</html>